.feedCard {
  max-width: 650px;
}

.feedCardImage {
  max-width: 650px;
}

.userProfilePic {
  height: 40px;
  width: 40px;
}

.userProfilePic:hover {
  cursor: pointer;
}

.userProfilePicIcon {
  font-size: 40px!important;
}

.userProfilePicIcon:hover {
  cursor: pointer;
}

.newPostModalTextarea {
  height: 150px !important;
}

.iconTextButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBold {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.userProfilePic32 {
  height: 32px;
  width: 32px;
}

.userProfilePic32:hover {
  cursor: pointer;
}

.userProfilePicIcon32 {
  font-size: 32px!important;
}

.userProfilePicIcon32:hover {
  cursor: pointer;
}

.commentBubble{
  max-width: calc(100% - 40px);
}

.profileClick:hover {
  cursor: pointer;
}